---
---
<div class="nav-links" transition:animate="slide">
  {/* con  data-astro-reload en un enlace forzamos que recargue directamente esa página al seguir ese link */}
  <a href="/">Home</a>
  <a href="/about/">About</a> 
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
</div>
